{% include head.html %}

<body class="landing">
<!-- Page Wrapper -->
<div id="page-wrapper">

{% include header.html %}

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Victor Camara</h2>
		<p>I drink (Coffee)<br /> and I know (Marketing) things<br /> also check out my <a href="/blog/">blog</a>.</p>
		<ul class="actions">
			<li><a href="/contact/" class="button special">Contact Me</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Marketing Automation<br />
			and why you need it now!</h2>
			<p>Get my e-book to learn what marketing automation is and why you need it now. You need the right all-in-one software that includes everything and I can help you get set up today.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Victor</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Camara</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Marketing</span></span>
			</li>
		</ul>
	</div>
</section>

<section id="two" class="wrapper alt style2">




</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Other Interests</h2>
			<p>My other intests and skills, which usually tie into Marketing Automation, are below.</p>
		</header>
		<ul class="features">
			<li class="icon fa-laptop">
				<h3>Digital Marketing</h3>
				<p>PPC, SEO, Analytics & Reporting, Paid Social, every platform and all types of campaigns. Strategy and implementation are all areas where I have helped companies such as The Fort Worth Zoo, Texas Ballet Theater and Rasing Canes.</p>
			</li>
			<li class="icon fa-paper-plane-o">
				<h3>Email Marketing</h3>
				<p>From transactional emails to email drips, email templates and more, I have created and optimized all of these. Marketing automation brings it all together. Let me show you how.</p>
			</li>
			<li class="icon fa-code">
				<h3>HTML, CSS and JavaScript</h3>
				<p>I have built and redesigned websites and ecommerce sites for large and small businesses. I have the skills and knowledge for any project or budget.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Music</h3>
				<p>I listen to all genres of music and my favorite is Rock. If the song has a good beat and great lyrics I will always check it out.</p>
			</li>
			<li class="icon fa-camera">
				<h3>Photography</h3>
				<p>I love capturing moments that are valuable and interesting. I remember using a <a href="https://en.wikipedia.org/wiki/Sony_Mavica#/media/File:Sony_Mavica.jpg">Sony Digital Mavica</a> in the late 90s, which you would insert a 3.5" floppy disc into for image storage.</p>
			</li>
			<li class="icon fa-linode">
				<h3>SaaS</h3>
				<p>I have a passion for SaaS, software as a service, especially the marketing (automation), analytics, service and supprot that go with it. See my work at <a href="https://www.ecisolutions.com">ECi Software Solutions</a>.</p>
			</li>
		</ul>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Let's Talk</h2>
			<p>If you would like to start a conversation on how I can help you achieve your marketing goals click a button to start the process.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="/contact/" class="button fit special">Get Started</a></li>
			<li><a href="/marketing/automation/2019/05/26/marketing-automation.html" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>

{% include footer.html %}
